<div class="h6 m-0 pb-2" ng-if="data.statusLabel">
    {{ 'title.project_status'|trans({}, 'project') }}: 
    <span
        class="badge text-uppercase p-1" 
        ng-class="data.statusBg" 
        {# 
        data-toggle="tooltip" 
        data-placement="bottom" title="{{ '{{ project. }}' }}"
        data-container="body"
        #}
    />
        {{ '{{data.statusLabel }}' }}
        <md-tooltip
            ng-if="project && project.meta && project.meta.reasonLost && (project.meta.reasonLost == 'other' || project.meta.reasonLost == 'Autre')"
            md-direction="'top'"
        >
            {{ '{{ project.meta.otherText }}' }}
        </md-tooltip>
        <md-tooltip
            ng-if="project && project.meta && project.meta.reasonLost && project.meta.reasonLost != 'Autre'"
            md-direction="'top'"
        >
            {{ '{{ project.meta.reasonLost }}' }}
        </md-tooltip>
    </span>
</div>
<form name="project-form">
    <div class="row">
        <div class="col-md-6">
            <div class="row mb-0 mb-md-3">
                <div class="col-sm-12 mb-3">
                    {# PROJET #}
                    {% include 'project/ng/templates/form/_project.html.twig' %}
                </div>
                <div class="col-sm-12">
                    {# CONTACT #}
                    {% include 'project/ng/templates/form/_contact.html.twig' %}
                </div>
                <div class="col-sm-12">
                    {# ADRESSE CHANTIER #}
                    {% include 'project/ng/templates/form/_site_address.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <app-project-piloting></app-project-piloting>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    {# ADRESSE FACTURATION #}
                    {% include 'project/ng/templates/form/_billing_address.html.twig' %}
                </div>
                <div class="col-md-6 mt-3 mt-md-0">
                    {# TYPE DE MARCHE #}
                    {% include 'project/ng/templates/form/_market_type.html.twig' %}

                    {# NORME EN 1090 - Classe EXE #}
                    {% include 'project/ng/templates/form/_norme_1090.html.twig' %}

                    {# BONHOMME EST-IL #}
                    {% include 'project/ng/templates/form/_is_bonhomme.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-md-3">
            {# MODE DE REGLEMENT #}
            {% include 'project/ng/templates/form/_payment_method.html.twig' %}
        </div>
        <div class="col-sm-12 mt-3">
            {# N° DU/DES DEVIS MDE VALIDES #}
            {# 
                TYPE DE DOSSIER,
                PLANNING PROJET,
                REPONSE POUR LE,
                PRIORISATION DU DOSSIER,
                ASSISTANT EN CHARGE DU DOSSIER,
                CONDUC OCBS, ECONOMISTE
                VALIDATION DE LA FICHE DISA AVEC
            #}
            {% include 'project/ng/templates/form/_devis_number_and_case_type.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center pt-4 pb-3">    
            <button
                class="btn btn-app-primary"
                type="submit"
                ng-click="fns.submit()"
            >
                {{ 'action.save'|trans({}, 'messages') }}
            </button>
            <a href="{{ path('project.list') }}" class="btn btn-app-secondary" type="button">{{ 'action.cancel'|trans({}, 'messages') }}</a>
            <button
                class="btn btn-outline-primary"
                type="submit"
                ng-click="fns.submitProject($event)"
                ng-if="data.allowedActions.indexOf('submit') > -1"
            >
                {{ 'action.ask_for_validation'|trans({}, 'messages') }}
            </button>
            <md-button 
                class="md-raised rounded"
                ng-click="fns.validate($event)"
                ng-if="data.allowedActions.indexOf('validate') > -1"
            >
                {{ 'action.validate'|trans({}, 'messages') }}
            </md-button>
            <button
                class="btn btn-outline btn-danger"
                type="submit"
                ng-click="fns.archive($event)"
                ng-if="data.allowedActions.indexOf('lose') > -1"
            >
                {{ 'action.folder_lost'|trans({}, 'messages') }}
            </button>
        </div>
    </div>
</form>
<div class="ng-project-loader" ng-if="onLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>