<div class="col-md-12">
	<div class="card card card-outline card-app-secondary h-100">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="project_edit_quoteValidatedMDE">N° du/des devis MDE validé(s)</label>
						<input type="text" ng-model="project.quoteValidatedMDE" name="project_edit[quoteValidatedMDE]" maxlength="255" class="form-control" value="12">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="project_edit_quoteValidatedMDEDate" class="required">N° du/des devis MDE validé(s) De</label>
						<input type="date" ng-model="project.quoteValidatedMDEDate" name="project_edit[quoteValidatedMDEDate]" required="required" class="form-control" value="2021-06-25">
					</div>
				</div>
				<div class="col-sm-6" id="project_caseType">
					{# TYPE DE DOSSIE  #}
					{# TODO: make custom-checkbox work #}
					<fieldset class="form-group">
						<legend class="col-form-label required">Type de dossier</legend>
						<div class="custom-control custom-checkbox custom-control-inline" ng-repeat="item in caseTypes">
							<input 
								type="checkbox" 
								class="custom-control-inpu" 
								ng-click="toggle(item)"
							>
							<label class="custom-control-labe">{{ '{{ item.label }}' }}</label>
						</div>
					</fieldset>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="project_edit_planningProject" class="required">Planning projet</label>
						<textarea ng-model="project.planningProject" name="project_edit[planningProject]" required="required" class="form-control">Lorem ipsum dolor sit amet
								lorem ipsum dolor sit amet</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<fieldset class="form-group">
						<legend class="col-form-label required">Priorisation du dossier</legend>
							<div class="custom-contro custom-radio custom-control-inline" ng-repeat="item in priorizationFileTypes">
								<input
									type="radio" 
									ng-model="project.priorizationOfFile" 
									class="custom-control-inpu" 
									value="{{ '{{ item.value }}' }}"
								>
								<label class="custom-control-labe required" for="project_edit_priorizationOfFile_0">
									{{ '{{ item.label }}' }}
								</label>
							</div>
					</fieldset>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="project_edit_answerForThe">Réponse pour le</label>
						<textarea ng-model="project.answerForThe" name="project_edit[answerForThe]" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-group mb-3">
					<label for="basic-url">
						<label for="project_edit_folderNameOnTheServer">Nom du dossier sur le serveur</label>
					</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">G:\2-BBT\1-AFFAIRES\1-PROSPECT\</span>
						</div>
						<input type="text" ng-model="project.folderNameOnTheServer" name="project_edit[folderNameOnTheServer]" maxlength="255" class="form-control" value="Xfds DDc dddff">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						{# 
						<label class="" for="project_edit_recordAssistant">Assistant en charge du dossier</label>
						<select ng-model="project.recordAssistant" name="project_edit[recordAssistant]" class="form-control">
							<option value=""></option>
						</select>
						#}
						{% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
							label: 'columns.recordAssistant'|trans({}, 'project'),
							ngModel: 'project.recordAssistant',
							searchTerm: 'searchTerm.recordAssistant',
							mdOnOpen: 'helpers.getRecordAssistant()',
							ngChangeHandler: 'helpers.handleRecordAssistantChanged()',
						} %}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{# 
						<label class="" for="project_edit_ocbsDriver">CONDUC OCBS</label>
						<select ng-model="project.ocbsDriver" name="project_edit[ocbsDriver]" class="form-control">
							<option value=""></option>
							<option value="2">projectRole test</option>
							<option value="8">musk elun</option>
						</select>
						#}
						{% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
							label: 'columns.ocbsDriver'|trans({}, 'project'),
							ngModel: 'project.ocbsDriver',
							searchTerm: 'searchTerm.ocbsDriver',
							mdOnOpen: 'helpers.getOcbsDriver()',
							ngChangeHandler: 'helpers.handleOcbsDriverChanged()',
						} %}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{# 
						<label class="" for="project_edit_tceDriver">CONDUC TCE</label>
						<select ng-model="project.tceDriver" name="project_edit[tceDriver]" class="form-control">
							<option value=""></option>
							<option value="2">projectRole test</option>
						</select>
						#}
						{% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
							label: 'columns.economist'|trans({}, 'project'),
							ngModel: 'project.tceDriver',
							searchTerm: 'searchTerm.tceDriver',
							mdOnOpen: 'helpers.getTceDriver()',
							ngChangeHandler: 'helpers.handleTceDriverChanged()',
						} %}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>
</div>
