{% trans_default_domain 'project' %}

{# total height count 8 #}
{% set TOTAL_HEIGHT_COUNT = 16 %}
{# business responsible height count 4 #}
{% set BUSINNESS_RESPONSIBLE_HEIGHT = space_value(5, TOTAL_HEIGHT_COUNT) %}
{# economiste height count #}
{% set ECONOMISTE_HEIGHT = space_value(5, TOTAL_HEIGHT_COUNT) %}

{# width only #}
{% set COL_COUNT = 120 %}
{# label width 14 #}
{% set LABEL_WIDTH = space_value(30, COL_COUNT) %}
{% set  VALUE_WIDTH = space_value((COL_COUNT - 30), COL_COUNT) %}

<table class="table-borderless">
    <tbody>
        <tr height="{{ BUSINNESS_RESPONSIBLE_HEIGHT }}" class="align-start">
            <td width="{{ LABEL_WIDTH }}%;">
                <div class="text-left text-uppercase text-weight-bold text-underline text-label">
                    {{ 'pdf.label.business_responsible'|trans }}:
                </div>
            </td>
            <td width="{{ VALUE_WIDTH }}%;"></td>
        </tr>
        <tr height="{{ ECONOMISTE_HEIGHT }}" class="align-start">
            <td width="{{ LABEL_WIDTH }}%;">
                <div class="text-left text-uppercase text-weight-bold text-underline text-label">
                    {{ 'pdf.label.economist'|trans }}:
                </div>
            </td>
            <td width="{{ VALUE_WIDTH }}%;"></td>
        </tr>
    </tbody>
</table>