{% trans_default_domain 'project' %}

<table>
    <thead>
        <tr>
            <th colspan="2">{{ {{ 'pdf.label.contact'|trans }} }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'pdf.label.'|trans }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ 'pdf.label.'|trans }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ 'pdf.label.'|trans }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ 'pdf.label.'|trans }}</td>
            <td></td>
        </tr>
    </tbody>
</table>