{% trans_default_domain 'project' %}

{% extends "pdf_base.html.twig" %}

{% block page_title %}{% endblock %}

{% set TOTAL_COL_COUNT = 128 %}
{% set COL_PX_SIZE = 10 %}
{% set COL_PX_H_SIZE = 2 %}

{% set FIRST_COL_COUNT = 5 %}
{% set SECOND_COL_COUNT = 3 %}
{% set FIRD_COL_COUNT =  0.75 %}
{% set FOURTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
{% set FIFTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
{% set PDF_LOGO_COUNT = 34 %}

{% if previewMode|default(false) %}
    {% set COL_PX_SIZE = 5 %}
    {% set COL_PX_H_SIZE = 2 %}
{% else %}
    {% set FIRST_COL_COUNT = 5 %}
    {% set SECOND_COL_COUNT = 2 %}
    {% set FIRD_COL_COUNT =  2 %}
    {% set FOURTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
    {% set FIFTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
    {% set PDF_LOGO_COUNT = 34 %}   
{% endif %}

{% set FIRST_COL_WIDTH = (FIRST_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set SECOND_COL_WIDTH = (SECOND_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FIRD_COL_WIDTH = (FIRD_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FOURTH_COL_WIDTH = (FOURTH_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FIFTH_COL_WIDTH = (FIFTH_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set PDF_LOGO_WIDTH = (PDF_LOGO_COUNT * 100) / FIFTH_COL_COUNT %}

{% set prospect_rowspan = 10 %}
{% set empty_row_rowspan = 11 %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'project/pdf/style.html.twig' %}
{% endblock %}

{% block content %}
    <div>
        <table>
            <tbody>
                <tr class="table-tr-header">
                    <td width="{{ FIRST_COL_WIDTH }}%;"></td>
                    <td width="{{ SECOND_COL_WIDTH }}%;"></td>
                    <td width="{{ FIRD_COL_WIDTH }}%;"></td>
                    <td width="{{ FOURTH_COL_WIDTH }}%;"></td>
                    <td width="{{ FIFTH_COL_WIDTH }}%;"></td>
                </tr>
                <tr>
                    <td class="border-0"></td>
                    <td colspan="3" class="folder-prospection border-0 text-weight-bold text-uppercase">{{ 'pdf.title.prospection_folder'|trans }}</td>
                    <td rowspan="2" class="pdf-td-logo border-0">
                        <img src="{{ absolute_url(asset('images/logo/bbat_pdf_logo.png')) }}" alt="" width="{{ PDF_LOGO_WIDTH }}%">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="border-0"></td>
                    <td rowspan="{{ empty_row_rowspan }}" class="border-0"></td>
                    <td class="first-ask-date">
                        <div>{{ 'pdf.label.first_ask_date'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="{{ prospect_rowspan }}" colspan="2" class="prospect text-weight-bold text-uppercase">
                        <div class="prospect-title" style="width: 30px;">
                            {{ 'pdf.title.prospect'|trans }}
                        </div>
                    </td>
                    <td class="contact" class="td-label">
                        <div class="label">{{ 'pdf.label.contact'|trans }}</div>
                        {% include 'project/pdf/contact.html.twig' %}
                    </td>
                    <td class="td-label">
                        <div class="label">{{ 'pdf.label.construction_site_address'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td-label">
                        <div class="label">{{ 'pdf.label.operation_description'|trans }}</div>
                        {% include 'project/pdf/operation_description.html.twig' %}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="td-label">
                        <div class="label">{{ 'pdf.label.market_type'|trans }}</div>
                        {% include 'project/pdf/market_type.html.twig' %}
                    </td>
                    <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr>
                    <td class="encryption-type">
                        <div class="text-left text-weight-bold">{{ 'pdf.label.encryption_type'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td-label">
                        <div class="label">{{ 'pdf.label.is_bonhomme'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">pour la charpente norme en 1090 - 2 classe EXC</td>
                </tr>
                <tr>
                    <td colspan="2" class="project-planning">
                        <div class="text-left text-uppercase text-weight-bold text-underline text-label">{{ 'pdf.label.project_planning'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td class="td-label">
                        <div class="label">{{ 'pdf.label.prioritization_of_the_folder'|trans }}</div>
                    </td>
                    <td class="td-label">
                        <div class="label">{{ 'pdf.label.response_for_the'|trans }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="text-left text-uppercase text-weight-bold text-underline text-label">{{ 'pdf.label.business_responsible'|trans }}:</div>
                        <div class="text-left text-uppercase text-weight-bold text-underline text-label">{{ 'pdf.label.economist'|trans }}:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="text-left text-weight-bold text-underline text-label">{{ 'pdf.label.folder_name_in_the_cloud'|trans }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
