{% trans_default_domain 'projects' %}

{% from pdf_macro import pdf_checkbox %}

{# market type height count = 12 #}
{% set MARKET_TYPE_HEIGHT = 24 %}
{% set LABEL_HEIGHT = space_value(2, MARKET_TYPE_HEIGHT, COL_PX_H_SIZE) %}
{# market type col count = 30 #}
{% set MARKET_TYPE_COL_COUNT = 60 %}
{% set CHECKBOX_COL_WIDTH = space_value(2, MARKET_TYPE_COL_COUNT)  %}
{% set LABEL_COL_WIDTH = space_value((MARKET_TYPE_COL_COUNT - 2), MARKET_TYPE_COL_COUNT) /  2 %}

{% set marketType = resolve([project, 'marketType']) %}
{% set MARKET_TYPE_CHOICES = constant('\\App\\Entity\\Constants\\Project\\MarketType::MARKET_TYPES_CHOICES') %}

<table class="table-borderless market-type-table mb-1">
    <tbody>
        <tr>
            <td colspan="4" class="text-center">
                <div class="label market-type-title">{{ 'pdf.label.market_type'|trans }}</div>
            </td>
        </tr>
        {% for row in MARKET_TYPE_CHOICES|batch(2) %}
            <tr>
                {% for column in row %}
                    <td width="{{ CHECKBOX_COL_WIDTH }}%;" class="market-type-checkbox">
                        {% if ngMode %}
                            <input type="text">
                        {% else %}    
                            {{ pdf_checkbox(resolve([marketType, column|u.camel], '')) }}
                        {% endif %}
                    </td>
                    <td width="{{ LABEL_COL_WIDTH }}%;" height="{{ LABEL_HEIGHT }}px;" class="word-break">
                        {{ ('pdf.label.market_type_label.' ~ column)|trans }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>