{% trans_default_domain 'users' %}
{% extends 'layout/form_base.html.twig' %}

{% block title %}{{ parent() }} | Log in!{% endblock %}

{% block form_box_msg %}{{ 'login.box_msg'|trans }}{% endblock %}

{% block form %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'login.logged_in_as'|trans({
                    '%user%': app.user.username,
                    '%logout_link%': path('app_logout'),
                })|raw }}
            </div>
        {% endif %}

        <div class="input-group mb-3">
            <input type="email" value="{{ last_username }}" name="email" class="form-control" required autofocus placeholder="{{ 'login.email_placeholder'|trans }}" aria-label="{{ 'login.email'|trans }}">
            <div class="input-group-append">
                <div class="input-group-text py-0">
                    <span class="material-icons">mail</span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" required aria-label="{{ 'login.password'|trans }}" placeholder="{{ 'login.password_placeholder'|trans }}">
            <div class="input-group-append">
                <div class="input-group-text py-0">
                    <span class="material-icons">lock</span>
                </div>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="row">
            <div class="col-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="_remember_me" id="remember" class="custom-control-input custom-control-input-app-secondary">
                    <label class="custom-control-label" for="remember">{{ 'login.remember_me'|trans }}</label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-app-primary">{{ 'login.sign_in'|trans }}</button>
            </div>
            <!-- /.col -->
        </div>

    </form>
{% endblock %}

{% block form_footer %}
    <p class="mb-0">
        <a href="{{path('app_forgot_password_request')}}">{{ 'links.forgot_password'|trans }}</a>
    </p>
{% endblock %}
