{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_dashboard') }}
{% endblock %}

{% block content_header %}
    {% include template_content_header with {
        title: 'Homepage',
        links: [
            {label: 'Dashboard', routeName: 'home'},
            {label: 'Home'}
        ]
    } %}
{% endblock %}

{% block body_attr %}
    {{ parent() }}
    ng-app="dashboardApp"
    ng-controller="DashboardController"
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include 'home/ng/ng_templates/_box_dashboard.html.twig' %}
        {% include 'home/ng/ng_templates/index.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_dashboard') }}
{% endblock %}
