{% trans_default_domain 'projects' %}

{% extends 'project_case/layout.html.twig' %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{% block content %}
    <div class="card card-outline-primary">
        <div class="card-header">
            <div class="card-tools text-uppercase text-muted">
                <span>{{ 'columns.total_amount'|trans }}</span>
                <span id="total"></span>
                <span>€</span>
            </div>
        </div>
        <div class="card-body">
            <div id="{{ datatable.tableId }}">Chargement...</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'current_case_folder_name_on_the_server', 'business_charge', 'market_type', 'project_description_area',
                    'code_postal', 'project_site_address', 'global_amount', 'archivement_pourcentage', 'last_relaunch', 'planning_project',
                    'contact_name', 'comment'
                ],
                excludedColumns: [7], // exclude when exporting excel file
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: true,
                enableFormatter: true,
                redrawEvent: 'client.deleted',
                config: {
                    fixedColumns: false,
                    "initComplete": function (data, row) {
                        var formattedTotal = window.App.Utils.numberFormat(row.extras.total, 0, ',', ' ');

                        $('#total').text(formattedTotal);
                    }
                }
            })
        });
    </script>
{% endblock %}
