{% trans_default_domain 'users' %}
{% extends 'layout/form_base.html.twig' %}

{% block title %}{{ parent() }} | Log in!{% endblock %}

{% block form_box_msg %}{% endblock %}

{% block form %}
    <p>
        {{"reset_password.resetSuccess" |trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{"reset_password.checkEmailSpam"|trans}} <a href="{{ path('app_forgot_password_request') }}">{{"reset_password.tryAgain"|trans}}</a>.</p>
{% endblock %}

