{% trans_default_domain 'email' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{"resetPassword.EmailTitle"|trans([], "email")}}</title>
</head>
<body>
    <h1>{{"email.user.reset_password.user_reset_password"| trans([], "email")}}</h1>
    <p>{{"email.user.reset_password.messageRequest"| trans([], "email")}}</p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{"email.user.reset_password.resetYourPassword"| trans([], "email")}}</a>
    <p>{{"email.user.reset_password.linkWillExpired"| trans([], "email")}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
</body>
</html>
