{% set title = {
    users: 'title.users'|trans,
    prospects: 'title.prospects'|trans,
    projects: 'title.projects'|trans,
    offres: 'title.offres'|trans,
} %}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <app-box-statistics
            label="'{{ title.users }}'"
            data="data.boxStats.usersCount"
            icon="'people'"
            icon-background-class="'bg-app-primary'"
            url="'{{ path('user.index') }}'"
        ></app-box-statistics>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <app-box-statistics
            label="'{{ title.prospects }}'"
            data="data.boxStats.prospectsCount"
            icon="'inventory'"
            icon-background-class="'bg-app-secondary'"
            url="'{{ path('client.list') }}'"
        ></app-box-statistics>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <app-box-statistics
            label="'{{ title.projects }}'"
            data="data.boxStats.projectsCount"
            icon="'engineering'"
            icon-background-class="'bg-success'"
            url="'{{ path('project.index') }}'"
        ></app-box-statistics>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <app-box-statistics
            label="'{{ title.offres }}'"
            data="data.boxStats.offresCount"
            icon="'work'"
            icon-background-class="'bg-danger'"
            url="'#'"
        ></app-box-statistics>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header border-0">

            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
            </h3>
            <!-- tools card -->
            <div class="card-tools">
                <!-- button with a dropdown -->
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pt-0">
            <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>