{% trans_default_domain 'projects' %}

{% from pdf_macro import pdf_checkbox %}
{# folder prioritization total height count 6 #}
{% set FOLDER_PRIORITIZATION_TOTAL_HEIGHT_COUNT = 12 %}
{# folder prioritization count 12 #}
{% set FOLDER_PRIORITIZATION_HEIGHT_COUNT = space_value(6, FOLDER_PRIORITIZATION_TOTAL_HEIGHT_COUNT) %}

{# here are width onlty #}
{% set PRIORITIZATION_COL_COUNT = 60 %}
{# empty left td count 3 #}
{% set EMPTY_TD_WIDTH = space_value(6, PRIORITIZATION_COL_COUNT) %}
{# checkbox col count 1 #}
{% set CHECKBOX_WIDTH = space_value(2, PRIORITIZATION_COL_COUNT) %}
{# checkbox label count 5 #}
{% set CHECKBOX_LABEL_WIDTH = space_value(10, PRIORITIZATION_COL_COUNT) %}
{# without_continuation (sans suite) col count 6 #}
{% set WITHOUT_CONTINUATION = space_value(12, PRIORITIZATION_COL_COUNT) %}

{% set folderPrioritizationUrgent = resolve([project, 'priorizationOfFile'], null) == constant('\\App\\Entity\\Constants\\Project::TYPE_PRIORIZATION_URGENT') %}
{% set folderPrioritizationNormal = resolve([project, 'priorizationOfFile'], null) == constant('\\App\\Entity\\Constants\\Project::TYPE_PRIORIZATION_NORMAL') %}
{% set folderPrioritizationWithoutContinuation = resolve([project, 'priorizationOfFile'], null) == constant('\\App\\Entity\\Constants\\Project::TYPE_PRIORIZATION_WITHOUT_CONTINUTATION') %}

<table class="table-borderless prioritization-folder">
    <tbody>
        <tr>
            <td class="text-center" colspan="8"><div class="label">{{ 'pdf.label.prioritization_of_the_folder'|trans }}</div></td>
        </tr>
        <tr height="{{ FOLDER_PRIORITIZATION_HEIGHT_COUNT }}px;" class="align-start">
            <td width="{{ EMPTY_TD_WIDTH }}%;"></td>
            <td width="{{ CHECKBOX_WIDTH }}%;">
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    {{ pdf_checkbox(folderPrioritizationUrgent) }}
                {% endif %}
            </td>
            <td width="{{ CHECKBOX_LABEL_WIDTH }}%" class="text-uppercase word-word">{{ 'pdf.folder_prioritization_label.urgent'|trans }}</td>
            <td width="{{ CHECKBOX_WIDTH }}%;">
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    {{ pdf_checkbox(folderPrioritizationNormal) }}
                {% endif %}
            </td>
            <td width="{{ CHECKBOX_LABEL_WIDTH }}%" class="text-uppercase word-word">{{ 'pdf.folder_prioritization_label.normal'|trans }}</td>
            <td width="{{ CHECKBOX_WIDTH }}%;">
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    {{ pdf_checkbox(folderPrioritizationWithoutContinuation) }}
                {% endif %}
            </td>
            <td width="{{ WITHOUT_CONTINUATION }}%;" class="text-uppercase word-word">{{ 'pdf.folder_prioritization_label.without_continuation'|trans }}</td>
            <td width="{{ EMPTY_TD_WIDTH }}%;"></td>
        </tr>
    </tbody>
</table>