{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_project_schedule') }}
{% endblock %}


{% block content_header %}
    {# 
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.order_book_schedule'|trans({}, 'project'),
        links: [],
    } %}
    {% endembed %}
    #}
    <div class="content-header py-2">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-md">
                    <h1 class="m-0">
                        {{ 'title.order_book_schedule'|trans({}, 'project') }}
                    </h1>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="d-flex align-items-center justify-content-start justify-content-md-end">
                        <label class="pr-2 m-0">{{ 'label.period'|trans({}, 'project') }}</label>
                        <input 
                            date-range-picker 
                            options="options.dateRangePicker" 
                            class="form-control date-picker text-center" 
                            type="text" 
                            ng-model="data.date"
                        />

                        <md-button 
                            class="md-icon-button button-target" 
                            ng-click="showOrderBookDialog($event)"
                        >
                            <md-tooltip md-direction="bottom">{{ 'label.column_configuration'|trans({}, 'project') }}</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        
                        <md-button 
                            class="md-icon-button button-target" 
                            ng-click="showVisibilityModal($event)"
                        >
                            <md-tooltip md-direction="bottom">{{ 'label.column_configuration'|trans({}, 'project') }}</md-tooltip>
                            <i class="material-icons">settings</i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_attr %}
    class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover"
    style="height: auto;"
    ng-app="projectScheduleApp"
    ng-controller="projectScheduleController"
{% endblock %}


{% block content %}
    {% include 'project_schedule/ng/index.html.twig' %}
    <div class="container-fluid">
        <div ng-if="data.resources">
            <app-scheduler
                class="app-scheduler"
                resources="data.resources"
                columns="data.columns"
                start="data.date.startDate"
                end="data.date.endDate"
                events="data.events"
                totals="data.totals"
                options="options.scheduler"
                header-year-class-name="options.headerYearClassName"
                header-month-class-name="options.headerMonthClassName"
                header-week-class-name="options.headerWeekClassName"
                on-row-click="onRowClick"
                on-column-header-click="onColumnHeaderClick"
                on-header-year-click="onHeaderYearClick"
                on-header-month-click="onHeaderMonthClick"
                on-header-week-click="onHeaderWeekClick"
                on-cell-click="onCellClick"
                on-event-click="onEventClick"
                force-sticky="'true'"
                min-row-count="14"
            ></app-scheduler>
        </div>
        <div class="loader" ng-if="loadingResources || loadingEvents">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var MESSAGES = {
            oderBookModalAddTitle: '{{ "order_book.oder_book_modal_add_title"|trans([], "projects") }}',
            oderBookModalEditTitle: '{{ "order_book.oder_book_modal_edit_title"|trans([], "projects") }}',
        };
    </script>
    {{ encore_entry_script_tags('app_project_schedule') }}
{% endblock %}

