{% trans_default_domain 'project' %}

{% extends 'pdf_base.html.twig' %}

{% block page_title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <p>{{ 'email.label.hello'|trans }},</p>
    <p>
        {{ 'email.ask_for_validation.message'|trans({
            '%projectName%': resolve([project, 'name'], ''),
            '%validationLink%': absolute_url(path('project.ng.project_follow_up',{id: resolve([project, 'id'], null)})),
            '%validationLabel%': 'email.ask_for_validation.validation_label'|trans,
        }, 'project')|raw }}
    </p>
    <p>{{ 'email.label.project_information'|trans }}</p>
    <ul>
        <li>
            {{ 'email.ask_for_validation.prospect'|trans }}: {{ resolve([project, 'prospect', 'name'], '-') }} - {{ resolve([project, 'prospect', 'clientNumber'], '') }}
        </li>
        <li>
            {{ 'columns.folderNameOnTheServer'|trans }}: {{ resolve([project, 'folderNameOnTheServer'], '-') }}
        </li>
        <li>
            {{ 'columns.priorizationOfFile'|trans }}: {{ resolve([project, 'priorizationOfFile'], '-') }}
        </li>
        <li>
            {{ 'columns.project_name'|trans }}: {{ resolve([project, 'name'], '-') }}
        </li>
    </ul>
    <p>
        <a href="{{ absolute_url(path('project.ng.project_follow_up',{id: resolve([project, 'id'], '-')})) }}">
            {{ 'email.ask_for_validation.validation_label'|trans }}
        </a>
    </p>
    <p>
        {{ 'label.cordially'|trans }}
    </p>
{% endblock %}