{% trans_default_domain 'project' %}

{% extends 'pdf_base.html.twig' %}

{% block page_title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <div>
        <p>{{ 'email.label.hello'|trans }}</p>
        <p>
            {{ 'email.project_validation.message'|trans({
                '%projectName%': resolve([project, 'name'], null),
                '%updatedDate%': resolve([project, 'updatedAt'], null)|date('d/m/Y'),
                '%updatedBy%': resolve([project, 'updatedBy', 'name'], null),
            }, 'project') }}
        </p>
        <p>{{ 'email.label.project_information'|trans }}</p>
        <ul>
            <li>
                {{ 'email.ask_for_validation.prospect'|trans }}: {{ resolve([project, 'prospect', 'name'], '-') }} - {{ resolve([project, 'prospect', 'clientNumber'], '') }}
            </li>
            <li>
                {{ 'columns.folderNameOnTheServer'|trans }}: {{ resolve([project, 'folderNameOnTheServer'], '-') }}
            </li>
            <li>
                {{ 'columns.priorizationOfFile'|trans }}: {{ resolve([project, 'priorizationOfFile'], '-') }}
            </li>
        </ul>
    </div>
{% endblock %}