{% trans_default_domain 'messages' %}

{% extends 'client/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ 'title.user_list'|trans }}{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: '<i class="material-icons">people</i>' ~ 'menu.users'|trans([], 'messages'),
        links: [],
    } %}
        {% block header_links %}
            {% if is_granted('ROLE_USER_ADD') %}
                <a href="{{ path('user.new') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'title.add_user'|trans({}, 'users') }}">
                    <i class="material-icons">add</i>
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ShortName</th>
                <th>ClientNumber</th>
                <th>Activity</th>
                <th>TvaRate</th>
                <th>Siret</th>
                <th>PaymentMethod</th>
                <th>Payment</th>
                <th>IntraCommunityTva</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.shortName }}</td>
                <td>{{ client.clientNumber }}</td>
                <td>{{ client.activity }}</td>
                <td>{{ client.tvaRate }}</td>
                <td>{{ client.siret }}</td>
                <td>{{ client.paymentMethod }}</td>
                <td>{{ client.payment }}</td>
                <td>{{ client.intraCommunityTva }}</td>
                <td>
                    <a href="{{ path('client.show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client.edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client.new') }}">Create new</a>
{% endblock %}
