{% trans_default_domain 'client' %}

{% extends 'client/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ 'title.show_client'|trans }}{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.show_client'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.client_manger'|trans, routeName: 'client.list'},
            {label: 'title.show_client'|trans},
        ],
    } %} {% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">    
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <td>{{ client.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.short_name'|trans }}</th>
                                    <td>{{ client.shortName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.client_number'|trans }}</th>
                                    <td>{{ client.clientNumber }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.activity'|trans }}</th>
                                    <td>{{ client.activity ? client.activity|trans : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.tva_rate'|trans }}</th>
                                    <td>{{ client.tvaRate }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.siret'|trans }}</th>
                                    <td>{{ client.siret }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.payment_method'|trans }}</th>
                                    <td>{{ client.paymentMethod ? client.paymentMethod|trans : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.payment'|trans }}</th>
                                    <td>{{ client.payment ? client.payment|trans : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.intra_community_tva'|trans }}</th>
                                    <td>{{ client.intraCommunityTva }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
