{% extends 'client/layout.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>ShortName</th>
                <td>{{ client.shortName }}</td>
            </tr>
            <tr>
                <th>ClientNumber</th>
                <td>{{ client.clientNumber }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ client.activity }}</td>
            </tr>
            <tr>
                <th>TvaRate</th>
                <td>{{ client.tvaRate }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ client.siret }}</td>
            </tr>
            <tr>
                <th>PaymentMethod</th>
                <td>{{ client.paymentMethod }}</td>
            </tr>
            <tr>
                <th>Payment</th>
                <td>{{ client.payment }}</td>
            </tr>
            <tr>
                <th>IntraCommunityTva</th>
                <td>{{ client.intraCommunityTva }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client.list') }}">back to list</a>

    <a href="{{ path('client.edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
