<div class="card card-primary">
    <!-- form start -->
    {{ form_start(form) }}
        <div class="card-body">
            {% include 'contact/_form.template.twig' %}
        </div>
        <!-- /.card-body -->

        <div class="card-footer text-center">
            <button class="btn btn-app-primary" type="submit">{{ button_label|default('action.save'|trans([], 'messages')) }}</button>
            <a href="{{ path('user.index') }}" class="btn btn-app-secondary">{{ 'action.cancel'|trans({}, 'messages') }}</a>
        </div>
    {{ form_end(form) }}
</div>
