<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.phone) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.job) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.fax) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.rawAddress) }}
    </div>
</div>