<div class="card card-primary">
    <!-- form start -->
    {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.phone) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.job) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.fax) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.rawAddress) }}
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer text-center">
            <button class="btn btn-app-primary" type="submit">{{ button_label|default('action.save'|trans([], 'messages')) }}</button>
            <a href="{{ path('user.index') }}" class="btn btn-app-secondary">{{ 'action.cancel'|trans({}, 'messages') }}</a>
        </div>
    {{ form_end(form) }}
</div>
