{% trans_default_domain 'projects' %}

{# width of each block #}
{% set TD_WIDTH = space_value((COL_COUNT / 3), COL_COUNT) %}
{% set subTitleClass = 'align-start text-calibri text-italic' %}
{% set signatureValueClass = 'text-calibri' %}

{% set SIGNATURE_HEIGHT_FIXER = 0.7 %}
{# height col count 6.5 #}
{% set COL_HEIGHT_COUNT = 13 %}
{% set COL_HEIGHT = space_value(COL_HEIGHT_COUNT, COL_HEIGHT_COUNT, SIGNATURE_HEIGHT_FIXER) %}
{% set colClass = 'border-right' %}
{% set titleClass = 'align-start text-calibri signature-text' %}
{% set contractReviewSignatureHeightFixer = 1.5 %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td height="{{ COL_HEIGHT }}px" width="{{ TD_WIDTH }}%;" class="{{ colClass }}">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.commercial_commit'|trans,
                    value: '',
                    signatureValue: '',
                    contractReviewSignatureHeightFixer: contractReviewSignatureHeightFixer,
                    options: {
                        titleClass: titleClass,
                        subtitleClass: subTitleClass,
                        signatureValueClass: signatureValueClass,
                    }
                } %}
            </td>
            <td height="{{ COL_HEIGHT }}px" width="{{ TD_WIDTH }}%;" class="{{ colClass }}">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.legal_and_terms_of_payment'|trans,
                    value: '',
                    signatureValue: '',
                    contractReviewSignatureHeightFixer: contractReviewSignatureHeightFixer,
                    options: {
                        titleClass: titleClass,
                        subtitleClass: subTitleClass,
                        signatureValueClass: signatureValueClass,
                    }
                } %}
            </td>
            <td height="{{ COL_HEIGHT }}px" width="{{ TD_WIDTH }}%;">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.contract_review_by_christophe'|trans,
                    value: '',
                    signatureValue: '',
                    contractReviewSignatureHeightFixer: contractReviewSignatureHeightFixer,
                    options: {
                        titleClass: titleClass,
                        subtitleClass: subTitleClass,
                        signatureValueClass: signatureValueClass,
                    }
                } %}
            </td>
        </tr>
    </tbody>
</table>