{% trans_default_domain 'projects' %}

{% set globalAmount = resolve([project, 'globalAmount'], null) %}
{% set amountSubcontractedWork = resolve([project, 'amountSubcontractedWork'], null) %}
{% set amountBBISpecificWork = resolve([project, 'amountBBISpecificWork'], null) %}
{% set quoteValidatedMDE = resolve([project, 'quoteValidatedMDE'], null) %}
{% set quoteValidatedMDEDate = resolve([project, 'quoteValidatedMDEDate'], null) %}
{% set emptyData = 'lorem ipsum dolor' %}

{# width #}
{% set COL_COUNT = 120 %}
{% set COLUMN_WIDTH = space_value((COL_COUNT / 3), COL_COUNT) %}

{# height #}
{# col height count 8 #}
{% set COL_H_COUNT = 16 %}
{% set WBCA_COL_PX_H_SIZE = 1 %}

{% set COL_HEIGHT = space_value((COL_H_COUNT / 3), COL_H_COUNT, WBCA_COL_PX_H_SIZE) %}
{# {% set tdClass = 'p-0 pt-10px pb-10px' %} #}
{% set tdClass = 'p-0' %}
{# height #}
{% set HEIGHT = 65 %}

{% set prefix %}{% endset %}
{% set cellHeight = workBreakdownHeight / 3 %}

<table width="100%" class="table-borderless">
    <tr>
        <td width="{{ COLUMN_WIDTH }}%" class="{{ tdClass }} border-right align-start">
            <table>
                <tr>
                    {# Repartition des travaux #}
                    <td class="text-weight-bold text-underline">
                        {{ prefix|raw }}
                        {{ 'pdf.label.work_breakdown'|trans }}
                        {{ prefix|raw }}
                    </td>
                </tr>
                <tr>
                    {# N° du/des devis MDE validé(s) #}
                    <td>
                        {{ prefix|raw }}
                        <span class="text-weight-bold text-sm text-calibri">
                            {{ 'pdf.label.num_mde_quote_validate'|trans }}
                        </span>
                        <span>{{ quoteValidatedMDE }}</span>
                        {{ prefix|raw }}
                    </td>
                </tr>
                <tr>
                    {# de #}
                    <td>
                        {{ prefix|raw }}
                        <span class="text-weight-bold text-calibri">{{ 'pdf.label.of'|trans }}</span>
                        <span>{{ quoteValidatedMDEDate ? quoteValidatedMDEDate|date('d/m/Y') : '' }}</span>
                        {{ prefix|raw }}
                    </td>
                </tr>
            </table>
        </td>
        <td class="{{ tdClass }}">
            <table height="{{ workBreakdownHeight }}px">
                <tr>
                    <td
                        width="{{ COLUMN_WIDTH }}%"
                        height="{{ cellHeight }}px"
                        class="text-weight-bold text-underline border-right"
                    >
                        {{ prefix|raw }}
                        {{ 'pdf.label.overal_amount_of_the_contract'|trans }}
                        {{ prefix|raw }}
                    </td>
                    <td 
                        width="{{ COLUMN_WIDTH }}%"
                        height="{{ cellHeight }}px"
                        class="{{ globalAmount ? '' : 'hide-mock-value' }}"
                    >
                        {{ prefix|raw }}
                        {{ globalAmount ? globalAmount|number_format(0, ',', ' ') : emptyData }}
                        {{ prefix|raw }}
                    </td>
                </tr>
                <tr>
                    <td 
                        width="{{ COLUMN_WIDTH }}%" 
                        height="{{ cellHeight }}px"
                        class="border-top border-right"
                    >
                        {{ prefix|raw }}
                        {{ 'pdf.label.amount_of_subcontracted_work'|trans }}
                        {{ prefix|raw }}
                    </td>
                    <td
                        width="{{ COLUMN_WIDTH }}%"
                        height="{{ cellHeight }}px"
                        class="border-top {{ amountSubcontractedWork ? '' : 'hide-mock-value' }}"
                    >
                        {{ prefix|raw }}
                        {{ amountSubcontractedWork ? amountSubcontractedWork|number_format(0, ',', ' ') : emptyData }}
                        {{ prefix|raw }}
                    </td>
                </tr>
                <tr>
                    <td
                        width="{{ COLUMN_WIDTH }}%"
                        height="{{ cellHeight }}px"
                        class="border-top border-right"
                    >
                        {{ prefix|raw }}
                        {{ 'pdf.label.amount_of_work_specific_to_BBI'|trans }}
                        {{ prefix|raw }}
                    </td>
                    <td
                        width="{{ COLUMN_WIDTH }}%"
                        height="{{ cellHeight }}px"
                        class="border-top {{ amountBBISpecificWork ? '' : 'hide-mock-value' }}"
                    >
                        {{ prefix|raw }}
                        {{ amountBBISpecificWork ? amountBBISpecificWork|number_format(0, ',', ' ') : emptyDate }}
                        {{ prefix|raw }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>