{% trans_default_domain 'projects' %}

<table class="border-0" style="background: yellow;" >
    <tbody>
        <tr>
            <td  class="p-0 pt-10px pb-10px">
                <table class="table-borderless border-0" width="100%;">
                    <tr>
                        <td width="100%;">{{ 'pdf.label.work_breakdown'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.num_mde_quote_validate'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.of'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td  class="p-0 pt-10px pb-10px">
                <table class="border-0" width="100%;">
                    <tr>
                        <td width="100%;">{{ 'pdf.label.work_breakdown'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.num_mde_quote_validate'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.of'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td  class="p-0 pt-10px pb-10px">
                <table class="border-0" width="100%;">
                    <tr>
                        <td width="100%;">{{ 'pdf.label.work_breakdown'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.num_mde_quote_validate'|trans }}</td>
                    </tr>
                    <tr>
                        <td width="100%;">{{ 'pdf.label.of'|trans }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>