{% trans_default_domain 'projects' %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td  class="p-0 pt-10px pb-10px">
                <table class="table-borderless " width="100%;">
                    <tr>
                        <td class="text-weight-bold text-underline" width="100%;">{{ 'pdf.label.work_breakdown'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="text-weight-bold text-sm" width="100%;">{{ 'pdf.label.num_mde_quote_validate'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="text-weight-bold text-sm"  width="100%;">{{ 'pdf.label.of'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td  class="p-0 pt-10px pb-10px">
                <table width="100%;">
                    <tr>
                        <td class="bordered text-weight-bold text-underline" width="100%;">{{ 'pdf.label.overal_amount_of_the_contract'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="bordered" width="100%;">{{ 'pdf.label.amount_of_subcontracted_work'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="bordered" width="100%;">{{ 'pdf.label.amount_of_work_specific_to_BBI'|trans }}</td>
                    </tr>
                </table>
            </td>
            <td  class="p-0 pt-10px pb-10px">
                <table width="100%;">
                    <tr>
                        <td class="bordered" width="100%;">{{ 'lorem ipsum dolor'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="bordered" width="100%;">{{ 'lorem ipsum dolor sit'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="bordered"  width="100%;">{{ 'lorem ipsum dolor sit'|trans }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>