{% trans_default_domain 'projects' %}

{% extends 'load_plan_planning/layout.html.twig' %}
{% block title %}{{ 'load_plan.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('load_plan_planning_app') }}
{% endblock %}

{% block body_attr %}
    class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" 
    style="height: auto;"
    ng-app="loadPlanPlanningApp"
    ng-controller="loadPlanPlanningController"
{% endblock %}

{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-md">
                    <h1 class="m-0">
                        {{ 'load_plan_planning.title'|trans({}, 'projects') }}
                    </h1>
                </div>
                <div class="col-sm-4 col-md-4 justify-self-end">
                    <div class="d-flex align-items-center">
                        <label class="pr-2 m-0">{{ 'label.period'|trans({}, 'project') }}</label>
                        <input 
                            date-range-picker 
                            options="options.dateRangePicker" 
                            class="form-control date-picker text-center" 
                            type="text" 
                            ng-model="data.date"
                        />
                        
                        <md-button
                            class="md-icon-button md-primary mr-0" 
                            aria-label="More" 
                            ng-href="{{ path('load_plan.list') }}"
                        >
                            <md-tooltip md-direction="bottom">
                                {{ 'load_plan.action.table_view'|trans }}
                            </md-tooltip>
                            <span class="material-icons">view_list</span>
                        </md-button>

                        <md-button 
                            class="md-icon-button button-target md-primary ml-0"
                            ng-click="showVisibilityModal($event)"
                        >
                            <md-tooltip md-direction="bottom">{{ 'label.column_configuration'|trans({}, 'project') }}</md-tooltip>
                            <i class="material-icons">settings</i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'load_plan_planning/ng/index.html.twig' %}
    
    <app-load-plan-planning
        start="data.date.startDate"
        end="data.date.endDate"
        resources="data.resources"
        events="data.events"
        columns="data.columns"
    ></app-load-plan-planning>
    <div class="loader" ng-if="loadingResources || loadingEvents">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var MESSAGES = {
            columns: {
                label: {
                    project: '{{ "load_plan_planning.columns.label.project"|trans }}',
                    business_charge: '{{ "load_plan_planning.columns.label.business_charge"|trans }}',
                    economist: '{{ "load_plan_planning.columns.label.economist"|trans }}',
                }
            }
        }
    </script>
    {{ encore_entry_script_tags('load_plan_planning_app') }}
{% endblock %}