<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.projectDescription) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.area) }}
    </div>
    <div class="col-sm-12">
        <div class="font-weight-bold project-address pb-2">{{ 'label.project_address'|trans({}, 'client') }}</div>
        <div class="row">
            <div class="col-sm-2"><div class="form-group">{{ form_row(form.department) }}</div>
            </div>
            <div class="col-sm-2">{{ form_row(form.address.postalCode) }}</div>
            <div class="col-sm-3">{{ form_row(form.address.city) }}</div>
            <div class="col-sm-2">{{ form_row(form.address.line1) }}</div>
            <div class="col-sm-3">{{ form_row(form.address.country) }}</div>
        </div>
    </div>
    <div class="col-sm-12 market-type">
        {{ form_row(form.marketType) }}
    </div>
</div>