<div class="card card card-outline card-app-secondary h-100">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                {{ form_row(form.prospect) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.contactSelect) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.businessCharge) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.economist) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.descriptionOperation) }}
            </div>
        </div>
    </div>
</div>