{% trans_default_domain 'project' %}

<div class="card card-outline card-app-secondary">
    <div class="card-header">
        <h3 class="card-title">{{ 'label.exchange_history'|trans }}</h3>
    </div>
    <div class="card-body">
        <div ng-repeat="item in mockData.exchangeHirtory">
            <div class="row">
                <div class="col-sm-4">
                    {{ '{{ item.date|date }}' }}
                </div>
                <div class="col-sm-8">{{ '{{ item.description }}' }}</div>
            </div>
        </div>
    </div>
</div>