{% trans_default_domain 'project' %}

<div class="card card-outline card-app-secondary exchange-card">
    <div class="card-header sticky-top bg-white">
        <h3 class="card-title mr-1">{{ 'label.exchange_history'|trans }}</h3>
        <span>({{ '{{ data.exchangeHistoryCount }}' }})</span>
    </div>
    <div class="card-body">
        <div class="timeline m-0" >
            <div ng-repeat="item in data.exchangeHistories" ng-class="item.class" class="m-0 mb-3">
                <span class="time-label p-1 rounded text-center">{{ '{{ item.date }}' }}</span>
                <div class="timeline-item">
                    <div class="card card-oultline m-0">
                        <div class="card-body p-2">
                            <div class="media">
                                <img
                                    ng-if="item.avatar"
                                    src="{{ '{{ item.avatar }}' }}" 
                                    class="align-self-start mr-3 rounded-circle timeline-avatar" 
                                    width="30" height="30"
                                >
                                <img
                                    ng-if="!item.avatar"
                                    src="{{ asset('/images/user.png') }}" 
                                    class="align-self-start mr-3 rounded-circle timeline-avatar" 
                                    width="30" height="30"
                                >
                                <div class="media-body">
                                    <h5 class="mt-0 font-weight-bold" ng-if="item.archiUser">{{ '{{ item.archiUser }}' }}</h5>
                                    <h5 class="mt-0 font-weight-bold" ng-if="!item.archiUser">{{ 'label.auto'|trans }}</h5>
                                    <div>{{ '{{ item.description }}' }}</div>
                                    <div ng-if="item.noteTaking">{{ '{{ item.noteTaking }}' }}</div>
                                </div>
                            </div>
                            <div
                                class="percentage-container text-muted text-sm" 
                                title="{{ 'label.project_confidence_percentage'|trans ~ ': {{ item.percentage }}' }}%"
                            >
                                {{ '{{ item.percentage ? item.percentage : "-" }}' }} %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>