{% trans_default_domain 'project' %}

<div class="card card-outline card-app-secondary">
    <div class="card-header">
        <h3 class="card-title">{{ 'title.project_piloting'|trans({}, 'project') }}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 mb-2">
                <md-radio-group ng-model="exchangeHistory.flag" aria-labelledby="favoriteFruit" class="d-flex mr-3">
                    <div class="row w-100">
                        <div class="col-sm-6">
                            <md-radio-button ng-value="data.exchangeFlags[0]" class="mb-0 md-primary">
                                {{ 'label.last_relaunch'|trans }}
                            </md-radio-button>
                        </div>
                        <div class="col-sm-6">
                            <md-radio-button ng-value="data.exchangeFlags[1]" class="mb-0 md-primary">
                                {{ 'label.next_step'|trans }}
                            </md-radio-button>
                        </div>
                    </div>
                </md-radio-group>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
					<label class="col-sm-3 col-form-label">{{ 'label.last_relaunch_label'|trans }} :</label>
                    <div class="col-sm-9">
                        <input 
                            type="date" 
                            ng-model="exchangeHistory.relaunchDate"
                            ng-disabled="exchangeHistory.flag != data.exchangeFlags[0]"
                            class="form-control"
                            ng-class="data.errors.relaunchDate ? 'border-danger' : ''"
                            aria-invalid="false"
                            ng-required="exchangeHistory.flag != data.exchangeFlags[0]"
                        >
                        {% include 'project/ng/templates/form/_errors.html.twig' with {
                            errorPath: 'data.errors.relaunchDate',
                        } %}
                    </div>
				</div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
					<label class="col-sm-3 col-form-label">{{ 'label.next_step'|trans }} :</label>
                    <div class="col-sm-9">
                        <input 
                            type="date" 
                            ng-model="exchangeHistory.nextStepDate" 
                            ng-disabled="exchangeHistory.flag != data.exchangeFlags[1]"
                            class="form-control"
                            ng-class="data.errors.nextStepDate ? 'border-danger' : ''"
                            ng-required="exchangeHistory.flag != data.exchangeFlags[1]"
                        >
                        {% include 'project/ng/templates/form/_errors.html.twig' with {
                            errorPath: 'data.errors.nextStepDate',
                        } %}
                    </div>
				</div>
                <div class="form-group row">
                    <label class="col-sm-3"></label>
                    <div class="col-sm-9">
                        <textarea 
                            ng-model="exchangeHistory.description"
                            class="form-control"
                            rows="1"
                            ng-disabled="exchangeHistory.flag != data.exchangeFlags[1]"
                            placeholder="{{ 'label.description'|trans }}"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">
                        {{ 'label.project_confidence_percentage'|trans }}
                    </label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input 
                                type="text" 
                                ng-model="exchangeHistory.percentage" 
                                class="form-control text-right" 
                                ng-class="data.errors.percentage ? 'border-danger' : ''"
                            >
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                        {% include 'project/ng/templates/form/_errors.html.twig' with {
                            errorPath: 'data.errors.percentage',
                            errorClass: 'text-sm'
                        } %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-2">
                <div class="row align-items-center no-gutters">
                    <div class="col-sm-5 d-flex flex-items-center">
                        <label class="mr-2 mb-0 text-nowrap">{{ 'label.archi'|trans }} :</label>
                        <md-radio-group ng-model="exchangeHistory.archi" aria-labelledby="favoriteFruit" class="d-flex mr-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <md-radio-button value="1" class="mb-0 md-primary">{{ 'label.yes'|trans({}, 'messages') }}</md-radio-button>
                                </div>
                                <div class="col-sm-6">
                                    <md-radio-button  value="0" class="mb-0 md-primary">{{ 'label.no'|trans({}, 'messages') }}</md-radio-button>
                                </div>
                            </div>
                        </md-radio-group>
                    </div>
                    <div class="col-sm-7">
                        <div ng-if="exchangeHistory.archi == '1'" class="form-group row w-100 mb-0 no-gutters">
                            <label class="col-sm-2 col-form-label">{{ 'label.who'|trans }}</label>
                            <div class="col-sm-10">
                                <input
                                        type="text"
                                        ng-model="exchangeHistory.archiUser"
                                        class="form-control"
                                        ng-class="data.errors.archiUser ? 'border-danger' : ''"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <button
                type="submit" 
                class="btn btn-sm btn-app-primary"
                ng-disabled="!fns.canSubmit()"
                ng-click="fns.saveProjectPiloting()"
            >
                {{ 'action.save'|trans({}, 'messages') }}
            </button>
            <button
                type="button"
                class="btn btn-sm btn-app-secondary" 
                ng-click="fns.cancel()"
            >
                {{ 'action.cancel'|trans({}, 'messages') }}
            </button>
        </div>
    </div>
</div>