{% trans_default_domain 'client' %}
{% set tdClass = 'text-break' %}

<table class="table table-app-sm table-striped">
    <tbody>
        <tr>
            <th>{{ 'label.name'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.name }}</td>
        </tr>
        <tr>
            <th>{{ 'label.short_name'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.shortName }}</td>
        </tr>
        <tr>
            <th>{{ 'label.client_number'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.clientNumber }}</td>
        </tr>
        <tr>
            <th>{{ 'label.activity'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.activity ? client.activity|trans : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'label.tva_rate'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.tvaRate }}</td>
        </tr>
        <tr>
            <th>{{ 'label.siret'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.siret }}</td>
        </tr>
        <tr>
            <th>{{ 'label.payment_method'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.paymentMethod ? client.paymentMethod|trans : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'label.payment'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.payment ? client.payment|trans : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'label.intra_community_tva'|trans }}</th>
            <td class="{{ tdClass }}">{{ client.intraCommunityTva }}</td>
        </tr>
    </tbody>
</table>