{% trans_default_domain 'users' %}

<table class="table" id="contacts-table">
    <thead>
        <tr>
            <th>{{ 'label.last_name'|trans }}</th>
            <th>{{ 'label.first_name'|trans }}</th>
            <th>{{ 'label.e_mail'|trans }}</th>
            <th>{{ 'label.fax'|trans }}</th>
            <th>{{ 'label.phone'|trans }}</th>
            <th>{{ 'label.job'|trans }}</th>
            <th>{{ 'label.address'|trans }}</th>
        </tr>
    </thead>
    <tbody>    
        {% if resolve([client, 'contacts'], null) %}
            {% for contact in resolve([client, 'contacts'], {}) %}    
                <tr>
                    <td>{{ resolve([contact, 'lastName'], '') }}</td>
                    <td>{{ resolve([contact, 'firstName'], '') }}</td>
                    <td>{{ resolve([contact, 'email'], '') }}</td>
                    <td>{{ resolve([contact, 'fax'], '') }}</td>
                    <td>{{ resolve([contact, 'phone'], '') }}</td>
                    <td>{{ resolve([contact, 'job'], '') }}</td>
                    <td>{{ resolve([contact, 'rawAddress'], '') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">{{ 'title.contact_empty'|trans }}</td>
            </tr>    
        {% endif %}
    </tbody>
</table>