{% set projectDescriptionFields = ['projectDescription', 'area', 'department', 'marketType', 'address'] %}
{% set addressFields = ['postalCode', 'city', 'line1', 'country'] %}

<table class="table table-app-sm table-striped">
    <tbody>
        {% for key, field in projectDescriptionFields %}
            {% if field != 'address' %}
                <tr>
                    <th>{{ ('columns.' ~ field|u.snake)|trans({}, 'project') }}</th>
                    <td>{{ resolve([client, 'projectDescription', field], '-')|trans({}, 'project') }}</td>
                </tr>
            {% endif %}
            {% if field == 'address' %}
                {% for addressField in addressFields %}
                    <tr>
                        <th>{{ ('label.' ~ addressField|u.snake )|trans({}, 'client') }}</th>
                        {% if addressField == 'country' %}
                            <td>
                                {% set cityCode = resolve([client, 'projectDescription', field, addressField], null) %}
                                {{  cityCode ? cityCode|country_name : '-'  }}
                            </td>
                        {% else %}
                            <td>
                                {{ resolve([client, 'projectDescription', field, addressField], '') }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}    
    </tbody>
</table>