{% set projectDescriptionFields = ['projectDescription', 'area', 'department', 'marketType', 'address'] %}
{% set addressFields = ['postalCode', 'city', 'line1', 'country'] %}

<table class="table table-app-sm">
    <tbody>
        {% for key, field in projectDescriptionFields %}
            <tr>
                <td>{{ ('columns.' ~ field)|trans({}, 'project') }}</td>
                <td>{{ resolve([client, 'projectDescription', field], '-')|trans({}, 'project') }}</td>
            </tr>
            {% if field == 'address' %}
                {% for addressField in addressFields %}
                    <tr>
                        <td>{{ ('label.' ~ addressField|u.snake )|trans({}, 'client') }}</td>
                        {% if addressField == 'country' %}
                            <td>
                                {% set cityCode = resolve([client, 'projectDescription', field, addressField], null) %}
                                {{  cityCode ? cityCode|country_name : '-'  }}
                            </td>
                        {% else %}
                            <td>
                                {{ resolve([client, 'projectDescription', field, addressField], '') }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}    
    </tbody>
</table>