<div class="bg-white border panel-menu panel-loader-container">
    <div>
        <md-input-container class="w-100 px-2">
            <md-select 
                class=""
                ng-model="data.economist"
                md-on-close="economistSearchTerm = ''"
                data-md-container-class="selectHeader"
                ng-change="economistChangeHandler()"
                placeholder="Economist"
            >
                <md-select-header class="select-header-search">
                    <input
                        ng-model="economistSearchTerm"
                        type="search"
                        placeholder="Rechercher"
                        ng-keydown="$event.stopPropagation()"
                        class="demo-header-searchbox md-text"
                    >
                </md-select-header>
                <md-optgroup label="user">
                    <md-option
                        ng-repeat="economist in data.economists" 
                        ng-value="economist.id"
                        class="px-2"
                        ng-disabled="$index === 1"
                    >
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{{ '{{ economist.avatar }}' }}">
                            </div>
                            <div class="media-body pl-2">
                                <div class="media-heading font-weight-bold">{{ '{{ economist.name }}' }}</div>
                                <div class="media-body-content">{{ '{{ economist.email }}' }}</div>
                            </div>
                        </div>
                    </md-option>
                </md-optgroup label="user">
            </md-select>
        </md-input-container>
    </div>

    <div class="panel-loader" ng-if="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
    </div>
</div>