{% trans_default_domain 'projects' %}

<md-dialog aria-label="Event Detail Dialog" class="new-load-plan-dialog p-0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="text-white">
                {{ 'load_plan.label.add_load_plan'|trans({}, 'projects') }}
            </h2>
        </div>
    </md-toolbar>
	<md-dialog-content class="p-3">
        <form name="{{ '{{ formName }}' }}">
            <div class="container-fluid">
                <div class="row">
                    {# Project select simple select #}
                    <div class="col-sm-12">
                        <md-input-container class="w-100">
                            <label>Projects</label>
                            <md-select 
                                ng-model="form.project"
                                md-on-close="clearSearchTerm()"
                                md-container-class="selectdemoSelectHeader"
                                name="project"
                            >
                                <md-select-header class="demo-select-header">
                                    <input 
                                        ng-model="projectSearchTerm" 
                                        aria-label="projects"
                                        type="search" 
                                        placeholder="Rechercher"
                                        class="demo-header-searchbox md-text"
                                    >
                                </md-select-header>
                                <md-optgroup label="projects">
                                    <md-option 
                                        ng-value="project.id" 
                                        ng-repeat="project in data.projects | filter:projectSearchTerm"
                                        class="px-3"
                                    >
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="media-heading font-weight-bold">{{ '{{ project.name }}' }}</div>
                                                <div class="media-body-content text-sm">{{ '{{ project.prospect.clientNumber }}' }}</div>
                                            </div>
                                        </div> 
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                            {% include "load_plan/ng/templates/errors.html.twig" with {
                                form: 'loadPlanForm',
                                field: 'project',
                            } %}
                        </md-input-container>
                    </div>
                    
                    {# Temps d'etude estime #}
                    <div class="col-sm-6">
                        <md-input-container class="w-100">
                            <label>{{ 'load_plan.label.estimated_study_time'|trans }}</label>
                            <md-select 
                                ng-model="form.estimatedStudyTime"
                                name="estimatedStudyTime"
                            >
                                <md-option
                                    ng-repeat="time in config.studyTime" 
                                    ng-value="time.value"
                                >
                                    {{ '{{ time.label }}' }}
                                </md-option>
                            </md-select>
                            {% include "load_plan/ng/templates/errors.html.twig" with {
                                form: 'loadPlanForm',
                                field: 'estimatedStudyTime',
                            } %}
                        </md-input-container>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-sm-12">
                        <div class="row align-items-start">
                            
                            {# Type #}
                            <div class="col-sm-6">
                                <md-radio-group
                                    ng-model="form.type" 
                                    class="mt-3"
                                    name="type"
                                >
                                    <md-radio-button
                                        ng-value="type.value"
                                        ng-repeat="type in config.types"
                                        class="md-primary w-100 d-flex align-items-center mb-1"
                                    >
                                        {{ '{{ type.label }}' }}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>

                            {# 
                                N° semaine
                                week for submission of the study
                                Semaine pour remise de l'étude
                            #}
                            <div class="col-sm-6" ng-if="form.type === 'type_study_week_submission'">
                                <md-input-container class="w-100 mb-0">
                                    <label id="week-number">{{ 'load_plan.label.week_for_submission_of_the_study'|trans({}, 'projects') }}</label>
                                    <md-datepicker 
                                        class="w-100 hide-icons"
                                        ng-model="form.start"
                                        input-aria-labelledby="week-number"
                                        md-open-on-focus
                                        name="start"
                                        md-hide-icons="calendar"
                                    >
                                    </md-datepicker>
                                    {% include "load_plan/ng/templates/errors.html.twig" with {
                                        form: 'loadPlanForm',
                                        field: 'start',
                                    } %}
                                </md-input-container>
                            </div>
            
                            {# Date butoire #}
                            <div class="col-sm-6" ng-if="form.type === 'type_deadline'">
                                <md-input-container class="w-100 mb-0">
                                    <label id="deadline-date">{{ 'load_plan.label.deadline'|trans({}, 'projects') }}</label>
                                    <md-datepicker 
                                        class="w-100 hide-icons"
                                        ng-model="form.deadline"
                                        md-open-on-focus
                                        input-aria-labelledby="deadline-date"
                                        md-hide-icons="calendar"
                                        name="deadline"
                                    >
                                    </md-datepicker>
                                    <span
                                        class="text-danger text-sm" 
                                        ng-if="data.errors.loadPlanForm.start" 
                                        ng-repeat="error in data.errors.loadPlanForm.start"
                                    >
                                        {{ '{{ error }}' }}
                                    </span>
                                    {% include "load_plan/ng/templates/errors.html.twig" with {
                                        form: 'loadPlanForm',
                                        field: 'deadline',
                                    } %}
                                </md-input-container>
                            </div>
                        </div>
                    </div>
    
                    {# Nature du chiffrage #}
                    <div class="col-sm-12">
                        <md-input-container class="w-100">
                            <label>{{ 'load_plan.label.nature_of_the_costing'|trans }}</label>
                            <md-select 
                                ng-model="form.natureOfTheCosting"
                                name="natureOfTheCosting"
                            >
                                <md-option
                                    ng-repeat="task in config.taskTypes" 
                                    ng-value="task.value"
                                >
                                    {{ '{{ task.label }}' }}
                                </md-option>
                            </md-select>
                            {% include "load_plan/ng/templates/errors.html.twig" with {
                                form: 'loadPlanForm',
                                field: 'natureOfTheCosting',
                            } %}
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
	</md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="saveLoadPlan($event)">
            {{ 'action.save'|trans({}, 'messages') }}
        </md-button>
        <md-button ng-click="cancel($event)">
            {{ 'action.cancel'|trans({}, 'messages') }}
        </md-button>
    </md-dialog-actions>
</md-dialog>

<div class="loader" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>