{% trans_default_domain 'projects' %}

<md-dialog aria-label="Event Detail Dialog" class="new-load-plan-dialog p-0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            {# <h2 class="text-white">{{ '{{ config.modalTitle }}' }}</h2> #}
            <h2 class="text-white">{{ 'load_plan.label.add_load_plan'|trans({}, 'projects') }}</h2>
        </div>
    </md-toolbar>
	<md-dialog-content class="m-3">
        <div class="container-fluid">
            <div class="row">
                {# Project select #}
                <div class="col-sm-12 mt-3">
                    <md-autocomplete
                        class="project-autocomplete"
                        md-no-cache="noCache"
                        md-selected-item="data.selectedProject"
                        md-search-text="project"
                        md-name="projectSearchInput"
                        md-selected-item-change="selectedProjectChange(item)"
                        md-items="item in queryProjectSearch(project)"
                        md-item-text="item.name"
                        md-min-length="0"
                        md-menu-class="project-dropdown"
                        md-floating-label="Projet"
                        md-clear-button="true"
                        input-aria-labelledby="favoriteStateLabel">
                        <md-item-template>
                            <span md-highlight-text="projectSearchText" md-highlight-flags="^i">
                                {{ '{{ item.name }}' }} — {{ '{{ item.prospect.clientNumber }}' }}
                            </span>
                        </md-item-template>
                        <md-not-found>
                            Projet <b>{{ '{{ projectSearchText }}' }}</b> non trouvé.
                        </md-not-found>
                    </md-autocomplete>
                    {% include 'project/ng/templates/form/_errors.html.twig' with {
                        errorPath: 'data.errors.project',
                    } %}
                </div>
                {# Nature du chiffrage #}
                <div class="col-sm-6">
                    <md-input-container class="w-100">
                        <label>{{ 'load_plan.label.nature_of_the_costing'|trans }}</label>
                        <md-select ng-model="form.natureOfTheCosting">
                            <md-option
                                ng-repeat="task in config.taskTypes" 
                                ng-value="task.value"
                            >
                                {{ '{{ task.label }}' }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                {# Temps d'etude estime #}
                <div class="col-sm-6">
                    <md-input-container class="w-100">
                        <label>{{ 'load_plan.label.estimated_study_time'|trans }}</label>
                        <input ng-model="form.estimatedStudyTime">
                    </md-input-container>
                </div>
                {# start date #}
                <div class="col-sm-4">
                    <md-datepicker 
                        ng-model="form.start"
                        md-placeholder="Entrer une date" 
                        md-open-on-focus
                        class="w-100"
                    >
                    </md-datepicker>
                    {# <span>({{ '{{ form.start.format("W") }}' }})</span> #}
                </div>
                <div class="col-sm-4">
                    <md-datepicker 
                        ng-model="form.deadline"
                        md-placeholder="{{ 'load_plan.label.deadline'|trans({}, 'projects') }}" 
                        md-open-on-focus
                        class="w-100"
                    >
                    </md-datepicker>
                </div>
                <div class="col-sm-4 ml-n2">
                    <md-datepicker 
                        ng-model="form.realizationQuotationDate"
                        md-placeholder="{{ 'load_plan.label.realization_quotation_date'|trans({}, 'projects') }}" 
                        md-open-on-focus
                        class="w-100"
                    >
                    </md-datepicker>
                </div>
                <div class="col-sm-12 mt-3">
                    <md-input-container class="w-100">
                        <label>{{ 'load_plan.label.effective_study_time'|trans }}</label>
                        <input ng-model="form.effectiveStudyTime">
                    </md-input-container>
                </div>
                {# end date #}
                {# 
                    <div class="col-sm-6">
                        <md-datepicker 
                            ng-model="form.end"
                            md-placeholder="Entrer une date" 
                            md-open-on-focus
                            class="w-100"
                            md-min-date="form.start"
                        >
                        </md-datepicker>
                    </div>
                #}
            </div>
        </div>
	</md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="saveLoadPlan($event)">
            {{ 'action.save'|trans({}, 'messages') }}
        </md-button>
        <md-button ng-click="cancel($event)">
            {{ 'action.cancel'|trans({}, 'messages') }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
<div class="loader" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>