{% trans_default_domain 'projects' %}

<md-dialog aria-label="Event Detail Dialog" class="new-load-plan-dialog p-0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="text-white">{{ 'load_plan.label.new_load_plan'|trans }}</h2>
        </div>
    </md-toolbar>
	<md-dialog-content class="mt-3">
        <div class="container-fluid">
            <div class="row">
                {# Project select #}
                <div class="col-sm-12 mb-3">
                    <label>{{ 'load_plan.label.project'|trans }}</label>
                    <md-select
                        ng-model="form.project"
                        md-on-close="searchTerm = ''"
                        data-md-container-class="selectHeader"
                        ng-change="onProjectChange()"
                        ng-disabled="false"
                        placeholder="Project"
                        ng-class="data.errors.project ? 'border-danger' : ''"
                    >
                        <md-select-header class="select-header-search">
                            <input ng-model="searchTerm"
                                type="search"
                                placeholder="Rechercher"
                                ng-keydown="$event.stopPropagation()"
                                class="demo-header-searchbox md-text"
                            >
                        </md-select-header>
                        <md-optgroup label="project">
                            <md-option 
                                ng-value="item.id" 
                                ng-repeat="item in data.projects|filter:searchTerm"
                            >
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media-heading font-weight-bold">{{ '{{ item.name }}' }}</div>
                                        <div 
                                            class="media-body-content" 
                                            ng-if="item.prospect && item.prospect.clientNumber"
                                        >
                                            {{ '{{ item.prospect.clientNumber }}' }}
                                        </div>
                                    </div>
                                </div>
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    {% include 'project/ng/templates/form/_errors.html.twig' with {
                        errorPath: 'data.errors.project',
                    } %}
                </div>
                <div class="col-sm-6">
                    <md-input-container class="w-100">
                        <label>{{ 'load_plan.label.nature_of_the_costing'|trans }}</label>
                        <input 
                            type="text" 
                            ng-model="form.natureOfTheCosting"
                            ng-class="data.errors.natureOfTheCosting ? 'border-danger' : ''"
                        >
                        {% include 'project/ng/templates/form/_errors.html.twig' with {
                            errorPath: 'data.errors.natureOfTheCosting',
                        } %}
                    </md-input-container>
                </div>
                <div class="col-sm-6">
                    <md-input-container class="w-100">
                        <label>{{ 'load_plan.label.week_number'|trans }}</label>
                        <input
                            type="text" 
                            ng-model="form.weekNumber"
                            ng-class="data.errors.weekNumber ? 'border-danger' : ''"
                        >
                        {% include 'project/ng/templates/form/_errors.html.twig' with {
                            errorPath: 'data.errors.weekNumber',
                        } %}
                    </md-input-container>
                </div>
            </div>
        </div>
	</md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="saveLoadPlan($event)">
            {{ 'action.save'|trans({}, 'messages') }}
        </md-button>
        <md-button ng-click="cancel($event)">
            {{ 'action.cancel'|trans({}, 'messages') }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
<div class="loader" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>