<div class="bg-white border week-number-menu">
    <div class="p-2 bg-app-primary text-uppercase">
        {{ 'load_plan.label.change_week_number'|trans({}, 'projects') }} — {{ '{{ data.projectName }}' }}
    </div>
    
    <div>
        <md-input-container class="w-100 px-3">
            <label>{{ 'load_plan.label.week_number_short'|trans({}, 'projects') }}</label>
            <md-select ng-model="data.week" ng-change="onWeekChange()">
                <md-option ng-repeat="week in data.weeks" ng-value="week" data-value="{{ '{{ week.weekDate }}' }}">
                        {{ '{{ week.weekNumber }}' }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="d-flex align-items-between">
        <md-button md-autofocus flex class="md-primary" ng-click="closePanel()">
            Annuler
        </md-button>
    </div>

    <div class="week-number-loader" ng-if="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
