{% set projectName = resolve([row, 'project', 'name'], resolve([row, 'project', 'businessCharge', 'name'], '')) %}
{% set dynamicId = 'deadline-' ~ resolve([row, 'id'], null) %}

<div 
    id="{{ dynamicId }}"
    class="update-deadline" 
    data-target="{{ '#' ~ dynamicId }}" 
    data-load-plan-id="{{ resolve([row, 'id'], null) }}"
    data-current-date="{{ value ? value|date('Y-m-d') }}"
    data-project-name="{{ projectName }}"
>
    {{ value ? value|date('d/m/Y') : '' }}
</div>