{% set projectName = resolve([row, 'project', 'name'], resolve([row, 'project', 'businessCharge', 'name'], '')) %}

<div 
    class="realization-date {{ 'realization-date-' ~ resolve([row, 'id'], null)  }}" 
    data-load-plan-id="{{ resolve([row, 'id'], null) }}"
    data-target-class="{{ 'realization-date-' ~ resolve([row, 'id']) }}"
    data-realization-date="{{ value|date('Y-m-d') }}"
    data-project-name="{{ projectName }}"
>
    {{ value|date('d/m/Y') }}
</div>