{% from app_macro import render_attr %}
{% set className = 'w-100 h-100 d-flex align-items-center justify-content-center update-week-number' %}

{% set target = 'week-number-target-' ~ resolve([row, 'id'], null) %}
{% set tooltip = 'load_plan.label.edit_week_number'|trans({}, 'projects') %}

{% set attrs = {
    "id": target,
    "data-current-value": value ? value|date('Y-m-d') : '',
    "data-target": '#' ~ target,
    "data-load-plan-id": resolve([row, 'id'], null),
    "data-project-name": resolve([row, 'project', 'name'], resolve([row, 'project', 'businessCharge', 'name'], null)),
    "data-toggle": "tooltip",
    "data-placement": "top",
    "title": tooltip,
} %}

{% if resolve([row, 'realizationQuotationDate'], null) %}
    <div class="{{ className }}" {{ render_attr(attrs) }}>{{ value|date('W') }}</div>
{% elseif (value|date('W') < "now"|date('W')) %}
    <div class="bg-danger {{ className }}" {{ render_attr(attrs) }} >{{ value|date('W') }}</div>
{% else %}
    <div class="{{ className }}" {{ render_attr(attrs) }} >{{ value ? value|date('W') : '' }}</div>
{% endif %}