{{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% include 'project/new_form/_project_form.html.twig' %}
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-app-primary" type="submit">{{ button_label|default('action.save'|trans([], 'messages')) }}</button>
        <a href="{{ path('project.list') }}" class="btn btn-app-secondary">{{ 'action.cancel'|trans({}, 'messages') }}</a>
    </div>
{{ form_end(form) }}