<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.roadmap) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.prospect) }}
    </div>
    <div class="w-100"></div>
    <div class="col-sm-6">
        {{ form_row(form.siteCode) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.projectOwner) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.projectManager) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.contactSelect) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.businessCharge) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.economist) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.descriptionOperation) }}
    </div>
</div>