{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SiteCode</th>
                <th>Roadmap</th>
                <th>ProjectOwner</th>
                <th>ProjectManager</th>
                <th>BillingAddres</th>
                <th>ContactName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>SiteAddress</th>
                <th>DescriptionOperation</th>
                <th>SoldBy</th>
                <th>QuoteWriter</th>
                <th>Norm1090</th>
                <th>MarketType</th>
                <th>BonhomePercentage</th>
                <th>DisaSheetValidation</th>
                <th>PaymentChoice</th>
                <th>DepositeDateEdit</th>
                <th>ClientCondition</th>
                <th>QuoteValidatedMDE</th>
                <th>QuoteValidatedMDEDate</th>
                <th>GlobalAmount</th>
                <th>AmountSubcontractedWork</th>
                <th>AmountBBISpecificWork</th>
                <th>CaseType</th>
                <th>PlanningProject</th>
                <th>RecordAssistant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.siteCode }}</td>
                <td>{{ project.roadmap ? 'Yes' : 'No' }}</td>
                <td>{{ project.projectOwner }}</td>
                <td>{{ project.projectManager }}</td>
                <td>{{ project.billingAddres }}</td>
                <td>{{ project.contactName }}</td>
                <td>{{ project.email }}</td>
                <td>{{ project.phone }}</td>
                <td>{{ project.siteAddress }}</td>
                <td>{{ project.descriptionOperation }}</td>
                <td>{{ project.soldBy }}</td>
                <td>{{ project.quoteWriter }}</td>
                <td>{{ project.norm1090 }}</td>
                <td>{{ project.marketType }}</td>
                <td>{{ project.bonhomePercentage }}</td>
                <td>{{ project.disaSheetValidation }}</td>
                <td>{{ project.paymentChoice }}</td>
                <td>{{ project.depositeDateEdit ? project.depositeDateEdit|date('Y-m-d') : '' }}</td>
                <td>{{ project.clientCondition }}</td>
                <td>{{ project.quoteValidatedMDE }}</td>
                <td>{{ project.quoteValidatedMDEDate }}</td>
                <td>{{ project.globalAmount }}</td>
                <td>{{ project.amountSubcontractedWork }}</td>
                <td>{{ project.amountBBISpecificWork }}</td>
                <td>{{ project.caseType }}</td>
                <td>{{ project.planningProject }}</td>
                <td>{{ project.recordAssistant }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="29">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
