{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}
{% block title %}{{ 'title.list'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.project_manager'|trans,
        links: [],
    } %} {% endembed %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-outline card-app-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.project_list'|trans }}</h3>
                        <div class="card-tools">
                            {% if is_granted('ROLE_PROJECT_ADD') %}
                                <a href="{{ path('project.new') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'title.add_project'|trans({}, 'project') }}">
                                    <i class="material-icons">add</i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body py-0 pt-md-3 filter-collapse-container">
                        {% include template_datatable_filters with {
                            datatable: datatable,
                            filterCollapseId: 'user-filter-collapse',
                        } %}
                    </div>
                    <div class="card-body pt-0">
                        <div id="{{ datatable.tableId }}">Chargement...</div>
                    </div>
                    <div class="modal-part">
                        <!-- Modal -->
                        <div class="modal fade" id="businessChargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {{ form_start(businessChargeForm, {'attr': {'class':'form-change-business-charge'}}) }}
                                        {{ form_row(businessChargeForm.businessCharge) }}
                                        <div class="float-right">
                                            <button type="button" class="btn btn-primary business-charge-change-save">Enregistrer</button>
                                        </div>
                                        {{ form_end(businessChargeForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-part">
                        <!-- Modal for economist -->
                        <div class="modal fade" id="economistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {{ form_start(economistForm, {'attr': {'class':'form-change-economist'}}) }}
                                        {{ form_row(economistForm.economist) }}
                                        <div class="float-right">
                                            <button type="button" class="btn btn-primary business-economist-save">Enregistrer</button>
                                        </div>
                                        {{ form_end(economistForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_project_list') }}
    <script>
        $(function() {
            window.initProjectList({
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
            });
        });
    </script>

{% endblock %}
