{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}

{% block title %} {{ 'title.show_project'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.show_project'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.project_manager'|trans, routeName: 'project.list'},
            {label: 'title.show_project'|trans},
        ],
    } %}
        {% block extra_title %}
            {% embed 'project/_actions.html.twig' with {
                id: project.id,
                showShow: false,
                redirectPah: 'project.show',
            } %}
                {% block dropdown_toggler %}
                    <button
                            class="header-btn"
                            href="#"
                            role="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="material-icons">more_horiz</span>
                    </button>
                {% endblock %}

                {% block actions %}
                    {{ parent() }}
                    <a class="dropdown-item" href="{{ path('project.list') }}">
                        <i class="material-icons">arrow_back</i>
                        {{ 'action.back_to_list'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.bbiInfos'|trans }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/bbiInfos1.html.twig' with {"address" : project.siteAddress} %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'columns.contact'|trans({}, 'project') }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/contact.html.twig' with {"contact" : project.contact} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'columns.billingAddres'|trans({}, 'project') }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/address.html.twig' with {"address" : project.billingAddres} %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'columns.siteAddress'|trans }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/address.html.twig' with {"address" : project.siteAddress} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.marcheInfos'|trans({}, 'project') }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/marcheInfos.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.workDispatchInfo'|trans }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/workDispatchInfo.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'title.amount'|trans({}, 'project') }}</h3>
                    </div>
                    <div class="card-body p-0">
                        {% include 'project/show_extension/amount.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-outline-primary h-100">
                    <div class="card-body p-0">
                        <table class="table table-app-sm">
                            <tbody>
                            <tr>
                                <th>{{ 'columns.encryptiontype'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'encryptiontype'], '') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.notApplicable'|trans({}, 'project') }}</th>
                                <td>
                                    {% if resolve([project,'notApplicable'], '') %}
                                            <span class="material-icons">done</span>
                                        {% else %}
                                            <span class="material-icons">clear</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.priorizationOfFile'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'priorizationOfFile'], '')  }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.answerForThe'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'answerForThe'], '')  }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.businessCharge'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'businessCharge'], '')  }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.economist'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'economist'], '')  }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'columns.folderNameOnTheServer'|trans({}, 'project') }}</th>
                                <td>{{ resolve([project,'folderNameOnTheServer'], '')  }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-app-primary" href="{{ path('project.edit', {id: project.id, redirectPath: redirectPah ?? ''}) }}">
                {{ button_label|default('action.edit'|trans([], 'messages')) }}
        </a>
        <a href="{{ path('project.list') }}" class="btn btn-app-secondary">{{ 'action.back_to_list'|trans({}, 'messages') }}</a>
    </div>
{% endblock %}

