{% trans_default_domain 'projects' %}

{% extends 'project/layout.html.twig' %}
{% block title %}{{ 'load_plan.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('load_plan_app') }}
{% endblock %}

{% block body_attr %}
    class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" 
    style="height: auto;"
    ng-app="loadPlanApp"
    ng-controller="loadPlanController"
{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'load_plan.title'|trans,
        links: [],
    } %} {% endembed %}
{% endblock %}


{% block content %}
    {# Include angular part here #}
    {% include 'load_plan/ng/index.html.twig' %}

    <row>
        <div class="col-12">
            <div class="card card-outline card-app-primary">
                <div class="card-header">
                    <div class="card-tools">
                        {# TODO: - add roles #}
                        {% if true %}
                            <md-button class="md-raised md-primary">
                                <a href="{{ path('load_plan_planning.index') }}" class="text-white text-capitalize">
                                    {{ 'load_plan.action.change_to_planning_view'|trans }}
                                </a>
                            </md-button>
                            <md-button 
                                class="md-icon-button md-primary m-n2" 
                                aria-label="add-load-plan"
                                ng-click="addLoadPlan('creation', null, $event)"
                            >
                                <md-tooltip md-direction="bottom">{{ 'load_plan.label.add_load_plan_long'|trans }}</md-tooltip>
                                <i class="material-icons">add</i>
                            </md-button>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% include template_datatable_filters with {
                        datatable: datatable,
                        filterCollapseId: 'load-plan-filter-collapse',
                    } %}
                </div>
                <div class="card-body">
                    <div id="{{ datatable.tableId }}">{{ 'label.loading'|trans({}, 'messages') }}</div>
                </div>
            </div>
        </div>
    </row>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var MESSAGES = {
            modalTitle: {
                new: '{{ "load_plan.label.new_load_plan"|trans }}',
                edit: '{{ "load_plan.label.edit_load_plan"|trans }}',
            },
        };

        $(function() {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'business_charge',
                    'economist',
                    'area',
                    'project_folder_name_on_the_server',
                    'nature_of_the_costing',
                    'activity',
                    'site_address_postal_code',
                    'location',
                    'estimated_study_time',
                    'deadline',
                    'week_number_for_submission_of_the_study',
                    'comment',
                    'realization_quotation_date',
                    'effective_study_time',
                    'actions',
                ],
                excludedColumns: [],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: false,
                enableFormatter: true,
                redrawEvent: 'load_plan.delete',
            });
        });
    </script>
    {{ encore_entry_script_tags('load_plan_app') }}
{% endblock %}