{% trans_default_domain 'projects' %}

{% extends 'project/layout.html.twig' %}
{% block title %}{{ 'load_plan.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('load_plan_app') }}
{% endblock %}

{% block body_attr %}
    class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" 
    style="height: auto;"
    ng-app="loadPlanApp"
    ng-controller="loadPlanController"
{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'load_plan.title'|trans,
        links: [],
    } %} {% endembed %}
{% endblock %}


{% block content %}
    {# Include angular part here #}
    {% include 'load_plan/ng/index.html.twig' %}

    <div class="container-fluid">
        <row>
            <div class="col-12">
                <div class="card card-outline card-app-primary">
                    <div class="card-header">
                        <div class="card-tools">
                            {% if true %}
                                <md-button 
                                    class="md-icon-button md-primary m-n2" 
                                    aria-label="add-load-plan"
                                    ng-click="addLoadPlan('creation', null, $event)"
                                >
                                    <i class="material-icons">add</i>
                                </md-button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body py-0 pt-md-3 filter-collapse-container">
                            {% include template_datatable_filters with {
                                datatable: datatable,
                                filterCollapseId: 'load-plan-filter',
                            } %}
                        </div>
                        <div id="{{ datatable.tableId }}"></div>
                    </div>
                </div>
            </div>
        </row>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var MESSAGES = {
            modalTitle: {
                new: '{{ "load_plan.label.new_load_plan"|trans }}',
                edit: '{{ "load_plan.label.edit_load_plan"|trans }}',
            },
        };

        $(function() {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'business_charge',
                    'economist',
                    'area',
                    'project_folder_name_on_the_server',
                    'nature_of_the_costing',
                    'activity',
                    'site_address_postal_code',
                    'location',
                    'estimated_study_time',
                    'week_number_for_submission_of_the_study',
                    'comment',
                    'actions',
                ],
                excludedColumns: [2],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: false,
                enableFormatter: true,
                redrawEvent: 'load_plan.delete',
            });
        });
    </script>
    {{ encore_entry_script_tags('load_plan_app') }}
{% endblock %}