{% trans_default_domain 'messages' %}

{% if context is defined %}
    {% set user = context %}
{% endif %}

<div class="dropdown">
    <button class="btn btn-icon dropdown-toggle"
        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false"
        data-boundary="window"
    >
        <span class="material-icons">more_vert</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="position: fixed;">
        
        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::VIEW'), user|default(null)) %}
            <a class="dropdown-item" href="{{ path('user.show', {id: id}) }}">
                <i class="material-icons">visibility</i>
                <span class="dropdown-text">{{ 'action.show'|trans }}</span>
            </a>
        {% endif %}
        
        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::EDIT'), user|default(null)) %}
            <a class="dropdown-item" href="{{ path('user.edit', {id: id}) }}">
                <i class="material-icons">edit</i>
                <span class="dropdown-text">{{ 'action.edit'|trans }}</span>
            </a>
        {% endif %}

        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::EDIT'), user|default(null)) %}
            <a 
                class="dropdown-item" 
                href="#"
                data-action="reset-password"
                data-id="{{ id }}"
            >
                <i class="material-icons">lock</i>
                <span class="dropdown-text">{{ 'action.reset_password'|trans }}</span>
            </a>
        {% endif %}

        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::DELETE'), user|default(null)) %}
            {% include "user/_delete_form.html.twig" with {
                id: id,
                deleteRoute: 'user.delete'
            } %}
        {% endif %}
        
    </div>
</div>
