<div class="card card-primary">
    {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.phone) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.fax) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.job) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.profileFile) }}
                </div>
                <div class="col-sm-6 d-flex align-items-center">
                    {{ form_row(form.canLogin) }}
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <button class="btn btn-app-primary">{{ button_label|default('action.save'|trans([], 'messages')) }}</button>
        </div>
    {{ form_end(form) }}
</div>

