{% trans_default_domain 'users' %}
{% extends 'layout/form_base.html.twig' %}

{% block form_box_msg %} {{ 'title.change_password'|trans }} {% endblock %}

{% block form %}
    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}

        <div class="card-footer text-center">
            <button class="btn btn-app-primary">{{ button_label|default('action.save'|trans([], 'messages')) }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}