{% trans_default_domain 'users' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ 'title.user_list'|trans }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: '<i class="material-icons">people</i>' ~ 'menu.users'|trans([], 'messages'),
        links: [],
    } %}
        {% block header_links %}
            {% if is_granted('ROLE_USER_ADD') %}
                <a href="{{ path('user.new') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'title.add_user'|trans({}, 'users') }}">
                    <i class="material-icons">add</i>
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include template_datatable_filters with {
                    datatable: datatable
                } %}
                <div id="{{ datatable.tableId }}">Chargement...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            window.App.DataTable.initAppDataTables({
                columnNames: [
                    'user_profile_image', 'user_email', 'user_firstName', 'user_lastName', 
                    'user_phone', 'user_job', 'user_fax', 'created_at',
                    'updated_at', 'user_can_login', 'actions'
                ],
                excludedColumns: [9],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: true,
                enableFormatter: true,
                redrawEvent: 'user.deleted'
            });

            var resetPassword = new window.App.ResetPassword();
            resetPassword.init();
        });
    </script>
{% endblock %}

