{% trans_default_domain 'user' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }} | User List{% endblock %}

{% block content %}
    {% include template_datatable_filters with {
        datatable: datatable
    } %}
    <div id="{{ datatable.tableId }}">Chargement...</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            window.App.DataTable.initAppDataTables({
                columnNames: ['user_email', 'user_lastName', 'user_firstName'],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                excludedColumns: [0],
                settings: {{ datatable_settings(datatable)|raw }},
                debug: true,
            });
        });
    </script>
{% endblock %}

