{% trans_default_domain 'user' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }} | User List{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include template_datatable_filters with {
                    datatable: datatable
                } %}
                <div id="{{ datatable.tableId }}">Chargement...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            window.App.DataTable.initAppDataTables({
                columnNames: ['__user_email', 'user_firstName', 'user_lastName', 'user_phone', 'user_job', 'created_at', 'actions'],
                containerSelector: '#{{ datatable.tableId }}',
                filtersContainerSelector: '#{{ datatable.tableFiltersId }}',
                excludedColumns: [],
                columnsCount: {{ datatable.columns|length }},
                settings: {{ datatable_settings(datatable)|raw }},
                debug: true,
            });
        });
    </script>
{% endblock %}

