<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.phone) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.fax) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.line1) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.line2) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.line3) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.postalCode) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.city) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.country) }}
    </div>
</div>